body {
    background-color: lightgreen;
}

.Banner {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    text-align: center;
    font-size: large;
    font-style: oblique;
    color: darkblue;
}

.Menubar {
   background-color: lightgrey;
}

#menuTable {
    border: 3px solid red;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    table-layout: fixed;
}

#menuTable td {
    text-align: center;
    border: 1px dotted orange;
}

#menuTable td:hover {
    background-color: orange;
}

.WelcomeScreen {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    font-style: italic;
    font-family: "Liberation Mono";
}

.WelcomeScreen img{
    max-width: 600px;
    max-height:400px;
    width: auto;
    height: auto;
}

.Manufacturers, .Cars, .AddManufacturer, .AddCar {
    display:  none;
}

.Manufacturers, .Cars, .AddManufacturer, .AddCar p {
    text-align: center;
    font-size: 25px;
    font-style: italic;
    font-family: "Liberation Mono";
}