body {
    background-color: lightgreen;
}

.Banner {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    text-align: center;
    font-size: large;
    font-style: oblique;
    color: darkblue;
}

.Menubar {
   background-color: lightgrey;
}

#menuTable {
    border: 3px solid red;
    width:70%;
    margin-left:15%;
    margin-right:15%;
    table-layout: fixed;
}

#menuTable td {
    text-align: center;
    border: 1px dotted orange;
}